# --- Python ---
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Visual Studio Code ---
.vscode/
*.code-workspace
.history/

# --- Windows (Arquivos de Sistema) ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Banco de Dados e Logs ---
*.log
*.sql.bak
*.bak

# --- Streamlit ---
.streamlit/config.toml
# (Se voce usa segredos locais, remova o comentario abaixo)
# .streamlit/secrets.toml